@{
    ViewBag.Title = "orrospum ensar";
}
<body style="background-color:honeydew">


    <marquee behavior="alternate" bgColor="black">
        <img src="~/img/Bilet.png" width="250" height="250" />
    </marquee>




</body>