
@{
    ViewBag.Title = "login";
}
@ViewBag.mesaj

<form action="~/Calisan/login" method="post" enctype="multipart/form-data">
    <input type="text" name="isim" class="form-control" />
    <input type="text" name="sifre" class="form-control" />
    <br />
    <button type="submit" class="btn btn-primary">Giriş Yap</button>
</form>

<h2>login</h2>


